@page
@model Greenwell.Pages.help_page.HelpModel
@{
    ViewData["Title"] = "Help";
}
<style>
p {
  font-size: 18px;
  font-family:Arial;
}
h3 {
    font-size:30px;
    font-family:Arial;
}
</style>

<div class="text-center">
    <h3>Help page</h3>
</div>
<div class="text-left">
    <p>
        This help page is for users who are using the Greenwell website for the first time. The first step you need to do is to log in with an email and password. After you successfully log into the website, you see a Your Profile button that allows the Greenwell's employee to manage their account and a Logout button that allows the Greenwell's employee to log off of the Greenwell website anytime. If you logged into the website as an admin you have the same Your Profile button and Logout button about managing your account and about logging out of the website, but the difference is that you will have an Admin only/Handle Users button where you can approve the uploaded files of Greenwell's employee. The Greenwell's admin user can also add and remove Greenwell's employee user accounts. The admin user and default user can both click on the upload button and download on the bottom left of the website page. After you press the upload button it will open up your computer file system to choose a file to upload, but for the Greenwell's employee user when you upload a file to the database it brings a message saying that the file is successfully uploaded but it needs approval from a Greenwell's admin user. The admin can also upload a file as well and have the choice to show the file to the employee user or only allow Greenwell's admin user to see the file. Both admin and default user can download the file uploaded to the website.
    </p>
</div>
