/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */


html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


/* NEW CODE BELOW*/

a {
    color: #10bce6;
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #10bce6;
}

.btn-primary {
    color: #fff;
    background-color: #10bce6;
    border-color: #10bce6;
    font-size: 24px;
    margin-bottom: 2rem;
}

.navbar-expand-sm .navbar-nav .nav-link {
    height: 50px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid #10bce6;
    border-radius: 5px;
}

.navbar-nav .nav-item {
    background-color: #10bce6;
    border: 1px solid white;
    border-radius: 5px;
}
.navbar-nav .nav-item:hover {
    background-color: #0366d6;
    color: #f8f9fa;
}

.text-dark {
    color: #f8f9fa !important; /*This 'important' tag is needed to override an 'important' tag from bootstrap*/
    font-size: 1.5rem;
}

a.text-dark:hover {
    color: #f8f9fa!important;
}

body {
    font-size: 1.5rem;
}

a.nav-link:hover {
    background-color: #0366d6;
    color: #f8f9fa;
}

element.style {
    cursor: default;
    background-color: #f8f9fa;
}

.footer{

    height:100px;
}

/*Manage profile page table*/

.pb-3, .py-3{
  
}

.fa-2x {
    font-size: 1.5em;
}

.form-group {
    margin-bottom: 2rem;
}


/* END OF NEW CODE */